//demention
$CardWidth:18rem;
//border
$BorderRadius:0.25rem;
$BoxShadow:0px 0px 15 px 0px;
$Border:1px solid rgba(0, 0, 0, 0.125);
$BackgourndColor: #fff;
// fonts
$TitleFontSize: 20px;
$TitleTextAlign: start; 


$Position: relative;
$FlexDirection: column;
