//demention
$CardWidth:18rem;
//border
$BorderRadius:0.25rem;
$BoxShadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$Border:1px solid rgba(0, 0, 0, 0.125);
$BackgourndColor: #fff;
// fonts
$TitleFontSize: 20px;
$TitleTextAlign: start; 


$Position: relative;
$FlexDirection: column;
